# Guis
public net.minecraft.world.inventory.AbstractContainerMenu f_38848_ # listeners
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners

# The following are required for GUI-specific classes in common
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor
public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V
public net.minecraft.world.inventory.MenuType$MenuSupplier

# The following are required for BlockEntity-specific classes in common
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
